.header{
    /*at any point, the height will be 95 percent of the view port*/
    height: 95vh;
    /* you can specify more than one background image */
    /* the linear gradiant allows us to change colors accross */
    background-image: linear-gradient(
        to right bottom,
        /* the opacity allows us to see the image in back  */
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)),
        url("../img/hero.jpg");
    /* no matter the viewport, this will always try to fit the background inside the div */
    background-size: cover;
    /* when the screen gets small, this makes the image crop evenly on both sides */
    background-position: top;

    /* think of quadrants but 1st quadrant starts on the left */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    /* we need this for the logo box */
    position: relative;
    &__logo-box{
        position: absolute;
        top: 40px;
        left: 40px;
    }
    &__logo{
        height: 35px;
        /* the width will scale automatically */
    }
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        /* shifted half of the elements width to the left and height */
        transform:translate(-50%, -50%);
    
        /* since the discover our tours button is an anchor tag, it is treated as text */
        text-align: center;
    }
}



